{% extends 'backoffice/layout.twig' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card stretch stretch-full">
            <div class="card-body">
                <h3>Benvenuto nel Backoffice</h3>
                <p>Seleziona una voce dal menu a sinistra per gestire i dati.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
