{% extends "layout.twig" %}
{% block title %}Home - Computer Store{% endblock %}
{% block content %}
    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Benvenuto nel nostro Store!</h1>
            </header>
            <div class="content">
                <p>Scopri i migliori prodotti informatici, sempre al miglior prezzo.</p>
                <ul class="actions">
                    <li><a href="products.php" class="button next scrolly">Sfoglia Prodotti</a></li>
                </ul>
            </div>
        </div>
    </section>

    {% include 'products.twig' with { 'prodotti': prodotti } %}
{% endblock %}